.footer {
  padding: 32px 0;

  &__row {
    display: flex;
    align-items: center;
  }

  &__copyright {
    color: $text-color;
    margin-right: auto;

    @extend %typo-small-text;
  }

  &__link-icon {
    &_github {
      @include icon('images/icons/github.svg', 24px, 24px);
    }

    @include md {
      display: none;
    }

    &:hover {
      filter: brightness($icon-filter-brightness-value);
    }
  }
}
